#root {
    text-align: center;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.cards-container {
    display: flex;
}

.cards {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
    margin-top: 0px;
}

.cards img {
    width: 100%;
}

.cards img:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}



.footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}